# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
logs
*.log

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# Firebase config with sensitive info
# All sensitive information should be in .env files, not in the repo

# Xcode
build/
*.pbxuser
!default.*.pbxuser
*.mode1v3
!default.*.mode1v3
*.mode2v3
!default.*.mode2v3
*.perspectivev3
!default.*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Testing
coverage/


